# Import librairies

In [2]:
import pandas as pd

# Traitement

In [ ]:
df = pd.DataFrame()

In [ ]:
jour = {
    '4': 30,
    '5': 31,
    '6': 30,
    '7': 31
}

In [ ]:
for i in range(4, 8):
    for j in range(1, jour[str(i)]+1):
        if j < 10:
            temp_df = pd.read_csv("../data/daily_usage/oma_daily_usage_data_2024-0" + str(i) + "-0" + str(j) + ".csv", sep=";")
        else:
            temp_df = pd.read_csv("../data/daily_usage/oma_daily_usage_data_2024-0" + str(i) + "-" + str(j) + ".csv", sep=";")
        df = pd.concat([df, temp_df], ignore_index=True)

In [10]:
df.head()

,DATE,DA_ID,DA_OFFER,OFFRE,MSISDN,BILL_TYPE,MARKET_TYPE,TARIF_PLAN,OPERATOR,VOLUME,COUNT
0,2024-04-01,99,7016,Facebook flex,261320200001,Prepaid,B2C,IZY,Orange,3240960,7
1,2024-04-01,1059,3248,Be Connect 550Mo,261320200001,Prepaid,B2C,IZY,Orange,358763520,7
2,2024-04-01,1082,6134,Be 10000 New : Data,261320200002,Prepaid,B2C,IZY,Orange,2502656,3
3,2024-04-01,99,7016,Facebook flex,261320200007,Prepaid,B2C,IZY,Orange,836608,12
4,2024-04-01,1010,3111,Akama Full,261320200007,Prepaid,B2C,IZY,Orange,432138240,11

In [11]:
df.shape

(92095039, 11)

In [ ]:
df.to_csv("../data/daily_usage.csv", index=False)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92095039 entries, 0 to 92095038
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   DATE         object
 1   DA_ID        int64
 2   DA_OFFER     int64
 3   OFFRE        object
 4   MSISDN       int64
 5   BILL_TYPE    object
 6   MARKET_TYPE  object
 7   TARIF_PLAN   object
 8   OPERATOR     object
 9   VOLUME       int64
 10  COUNT        int64
dtypes: int64(5), object(6)
memory usage: 7.5+ GB