# Importation des librairies

In [1]:
import pandas as pd
import openpyxl
import numpy as np

# Collecte des donnes

In [2]:
df_2G = pd.read_excel("../data/KPIs Techniques-Juin.xlsx", sheet_name="2G KPIs")
df_3G = pd.read_excel("../data/KPIs Techniques-Juin.xlsx", sheet_name="3G KPIs")
df_4G = pd.read_excel("../data/KPIs Techniques-Juin.xlsx", sheet_name="4G KPIs")

In [3]:
df_2G.to_csv("../data/kpi_2G.csv", index=False)
df_3G.to_csv("../data/kpi_3G.csv", index=False)
df_4G.to_csv("../data/kpi_4G.csv", index=False)

In [4]:
df_2G = pd.read_csv("../data/kpi_2G.csv")
df_3G = pd.read_csv("../data/kpi_3G.csv")
df_4G = pd.read_csv("../data/kpi_4G.csv")

### 2G Network

- **2G_Network_Availability (%)** : Le pourcentage de temps pendant lequel le réseau 2G est disponible et opérationnel pour les utilisateurs. 

### 3G Network

- **3G_Trafic_Data (Go)** : La quantité totale de données transférées sur le réseau 3G, mesurée en gigaoctets (Go). Cela inclut les téléchargements et les téléversements.

- **3G_DL_Ave_User_Throughput (Kbps)** : Le débit moyen de téléchargement par utilisateur sur le réseau 3G, mesuré en kilobits par seconde (Kbps). Il indique la vitesse à laquelle les utilisateurs peuvent télécharger des données.

- **3G_UL_Ave_User_Throughput (Kbps)** : Le débit moyen de téléversement par utilisateur sur le réseau 3G, mesuré en kilobits par seconde (Kbps). Il indique la vitesse à laquelle les utilisateurs peuvent téléverser des données.

- **3G_Cell_Load (%)** : Le pourcentage de charge des cellules du réseau 3G. Il représente l'utilisation du réseau par rapport à sa capacité maximale.

- **3G_Network_Availability (%)** : Le pourcentage de temps pendant lequel le réseau 3G est disponible et opérationnel pour les utilisateurs.

### 4G Network

- **4G_Trafic_Data (Go)** : La quantité totale de données transférées sur le réseau 4G, mesurée en gigaoctets (Go). Cela inclut les téléchargements et les téléversements.

- **4G_DL_Ave_User_Throughput (Kbps)** : Le débit moyen de téléchargement par utilisateur sur le réseau 4G, mesuré en kilobits par seconde (Kbps). Il indique la vitesse à laquelle les utilisateurs peuvent télécharger des données.

- **4G_UL_Ave_User_Throughput (Kbps)** : Le débit moyen de téléversement par utilisateur sur le réseau 4G, mesuré en kilobits par seconde (Kbps). Il indique la vitesse à laquelle les utilisateurs peuvent téléverser des données.

- **4G_DL_Cell_Load (%)** : Le pourcentage de charge des cellules pour les téléchargements sur le réseau 4G. Il représente l'utilisation du réseau par rapport à sa capacité maximale pour les téléchargements.

- **4G_UL_Cell_Load (%)** : Le pourcentage de charge des cellules pour les téléversements sur le réseau 4G. Il représente l'utilisation du réseau par rapport à sa capacité maximale pour les téléversements.

- **4G_Network_Availability (%)** : Le pourcentage de temps pendant lequel le réseau 4G est disponible et opérationnel pour les utilisateurs.

# Exploration et visualisation des données

## 2G

In [5]:
df_2G.head()

         Date                Cell Name  2G_Network_Availability(%)
0  2024-06-01               C_Mahela_3                         0.0
1  2024-06-01           D_GalaxyTest_1                         0.0
2  2024-06-01  C_MarovoayAnkaraobato_3                       100.0
3  2024-06-01  C_MarovoayAnkaraobato_2                       100.0
4  2024-06-01  C_MarovoayAnkaraobato_1                       100.0

In [6]:
df_2G.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129063 entries, 0 to 129062
Data columns (total 3 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Date                        129063 non-null  object
 1   Cell Name                   129063 non-null  object
 2   2G_Network_Availability(%)  129063 non-null  float64
dtypes: float64(1), object(2)
memory usage: 3.0+ MB

In [7]:
df_2G.shape

(129063, 3)

In [8]:
df_2G.describe()

       2G_Network_Availability(%)
count               129063.000000
mean                    98.955097
std                      6.786968
min                      0.000000
25%                    100.000000
50%                    100.000000
75%                    100.000000
max                    100.000000

In [9]:
df_2G[df_2G["2G_Network_Availability(%)"] == 100].shape

(117174, 3)

In [10]:
df_2G["Cell Name"].unique().size

4320

In [11]:
df_2G.groupby(by=["Cell Name", "Date"]).agg("sum")

                           2G_Network_Availability(%)
Cell Name      Date
C_67HaCentre_1 2024-06-01                       100.0
               2024-06-02                       100.0
               2024-06-03                       100.0
               2024-06-04                       100.0
               2024-06-05                       100.0
...                                               ...
D_ZitalTest_1  2024-06-26                         0.0
               2024-06-27                         0.0
               2024-06-28                         0.0
               2024-06-29                         0.0
               2024-06-30                         0.0

[129060 rows x 1 columns]

In [12]:
df_2G[df_2G["Cell Name"].str.contains("TamaMangarano2")]

              Date           Cell Name  2G_Network_Availability(%)
2137    2024-06-01  C_TamaMangarano2_2                       100.0
2138    2024-06-01  C_TamaMangarano2_3                       100.0
2139    2024-06-01  C_TamaMangarano2_1                       100.0
2457    2024-06-01  D_TamaMangarano2_3                       100.0
2458    2024-06-01  D_TamaMangarano2_2                       100.0
...            ...                 ...                         ...
126896  2024-06-30  C_TamaMangarano2_3                       100.0
126897  2024-06-30  C_TamaMangarano2_1                       100.0
127215  2024-06-30  D_TamaMangarano2_3                       100.0
127216  2024-06-30  D_TamaMangarano2_2                       100.0
127217  2024-06-30  D_TamaMangarano2_1                       100.0

[180 rows x 3 columns]

## 3G

In [13]:
df_3G.head()

,Date,Cell Name,3G_Trafic_Data (Go),3G_DL_Ave_User_Throughput (Kbps),3G_UL_Ave_User_Throughput (Kbps),3G_Cell_Load (%),3G_Network_Availability(%)
0,2024-06-01,W_TanaFasankarana_3,0.6992,1598.8455,194.481,0.1181,100
1,2024-06-01,W_TanaFasankarana_2,0.9014,1402.5235,118.0978,0.2488,100
2,2024-06-01,W_FortDuchesne_3,13.9149,2265.6837,187.1592,7.4906,100
3,2024-06-01,W_FortDuchesne_2,11.8682,1788.784,132.0525,5.9953,100
4,2024-06-01,W_TanaManakambahiny_3,0.4643,3625.2285,214.2679,0.0081,100

## 4G

In [14]:
df_4G.head()

,Date,Cell Name,Cell FDD TDD Indication,4G_Trafic_Data (Go),4G_DL_Ave_User_Throughput (Kbps),4G_UL_Ave_User_Throughput (Kbps),4G_DL_Cell_Load (%),4G_UL_Cell_Load (%),4G_Network_Availability(%)
0,2024-06-01,T_TanaAndohatanjona_1,CELL_TDD,83.0943,23626.9070,3622.4640,18.7628,28.5540,100.0
1,2024-06-01,T_TanaAndohatanjona_2,CELL_TDD,139.6015,7700.5350,4069.6121,49.4627,45.4267,100.0
2,2024-06-01,T_TanaAndohatanjona_3,CELL_TDD,218.3368,9392.8293,3668.5915,58.0216,72.5194,100.0
3,2024-06-01,A_TanaAndohatanjona_3,CELL_FDD,72.3886,12305.8003,2254.8017,26.5454,17.9133,100.0
4,2024-06-01,A_TanaAndohatanjona_2,CELL_FDD,154.1476,18299.0706,2645.4102,33.3550,25.6232,100.0