In [1]:
import pandas as pd
from collections import Counter

In [2]:
df = pd.read_csv("../data/daily_usage.csv")

In [3]:
df.head()

,DATE,DA_ID,DA_OFFER,OFFRE,MSISDN,BILL_TYPE,MARKET_TYPE,TARIF_PLAN,OPERATOR,VOLUME,COUNT
0,2024-04-01,99,7016,Facebook flex,261320200001,Prepaid,B2C,IZY,Orange,3240960,7
1,2024-04-01,1059,3248,Be Connect 550Mo,261320200001,Prepaid,B2C,IZY,Orange,358763520,7
2,2024-04-01,1082,6134,Be 10000 New : Data,261320200002,Prepaid,B2C,IZY,Orange,2502656,3
3,2024-04-01,99,7016,Facebook flex,261320200007,Prepaid,B2C,IZY,Orange,836608,12
4,2024-04-01,1010,3111,Akama Full,261320200007,Prepaid,B2C,IZY,Orange,432138240,11

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92095039 entries, 0 to 92095038
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   DATE         object
 1   DA_ID        int64
 2   DA_OFFER     int64
 3   OFFRE        object
 4   MSISDN       int64
 5   BILL_TYPE    object
 6   MARKET_TYPE  object
 7   TARIF_PLAN   object
 8   OPERATOR     object
 9   VOLUME       int64
 10  COUNT        int64
dtypes: int64(5), object(6)
memory usage: 7.5+ GB

In [5]:
df["DATE"] = pd.to_datetime(df["DATE"])

In [6]:
df['MONTH'] = df['DATE'].dt.to_period('M')

In [7]:
df.head()

,DATE,DA_ID,DA_OFFER,OFFRE,MSISDN,BILL_TYPE,MARKET_TYPE,TARIF_PLAN,OPERATOR,VOLUME,COUNT,MONTH
0,2024-04-01,99,7016,Facebook flex,261320200001,Prepaid,B2C,IZY,Orange,3240960,7,2024-04
1,2024-04-01,1059,3248,Be Connect 550Mo,261320200001,Prepaid,B2C,IZY,Orange,358763520,7,2024-04
2,2024-04-01,1082,6134,Be 10000 New : Data,261320200002,Prepaid,B2C,IZY,Orange,2502656,3,2024-04
3,2024-04-01,99,7016,Facebook flex,261320200007,Prepaid,B2C,IZY,Orange,836608,12,2024-04
4,2024-04-01,1010,3111,Akama Full,261320200007,Prepaid,B2C,IZY,Orange,432138240,11,2024-04

In [8]:
# # Fonction pour créer une liste d'offres multipliée par le count
# def flatten_offre_count(offres, counts):
#     result = []
#     for offre, count in zip(offres, counts):
#         result.extend([offre] * count)
#     return result

In [9]:
# # Appliquer la fonction pour créer la liste aplatie
# df['OFFRE_FLATTENED'] = df.apply(lambda row: flatten_offre_count(row['OFFRE'], row['COUNT']), axis=1)

In [10]:
df["OFFRE"] = df["OFFRE"].str.lower()

In [11]:
df.head()

,DATE,DA_ID,DA_OFFER,OFFRE,MSISDN,BILL_TYPE,MARKET_TYPE,TARIF_PLAN,OPERATOR,VOLUME,COUNT,MONTH
0,2024-04-01,99,7016,facebook flex,261320200001,Prepaid,B2C,IZY,Orange,3240960,7,2024-04
1,2024-04-01,1059,3248,be connect 550mo,261320200001,Prepaid,B2C,IZY,Orange,358763520,7,2024-04
2,2024-04-01,1082,6134,be 10000 new : data,261320200002,Prepaid,B2C,IZY,Orange,2502656,3,2024-04
3,2024-04-01,99,7016,facebook flex,261320200007,Prepaid,B2C,IZY,Orange,836608,12,2024-04
4,2024-04-01,1010,3111,akama full,261320200007,Prepaid,B2C,IZY,Orange,432138240,11,2024-04

In [12]:
reference = pd.read_csv("../data/reference_prepared.csv")

In [13]:
df['DA_ID'] = df['DA_ID'].astype('int32')
reference['DA_ID'] = reference['DA_ID'].astype('int32')

In [14]:
df = pd.merge(df, reference, on=["DA_ID"])

MemoryError: Unable to allocate 19.4 GiB for an array with shape (4, 650852726) and data type int64

In [ ]:
df.head()

In [ ]:
df.shape()

In [ ]:
# Fonction pour obtenir l'offre la plus fréquente
def most_common_offer(flattened_offre):
    if flattened_offre:
        return Counter(flattened_offre).most_common(1)[0][0]
    return None

In [ ]:
monthly_aggregation = df.groupby(['MONTH', 'MSISDN']).agg({
    'VOLUME': 'sum',
    'COUNT': 'sum',
    'TARIF_PLAN': 'first',
    'OPERATOR': 'first',
    'MARKET_TYPE': 'first',
    'BILL_TYPE': 'first',
    'OFFRE':  list,
    'PRICE': 'sum',
    'QUANTITY': 'sum'
}).reset_index()

In [ ]:
monthly_aggregation.head()

In [ ]:
monthly_aggregation['MOST_COMMON_OFFRE'] = monthly_aggregation['OFFRE'].apply(most_common_offer)

In [ ]:
monthly_aggregation.head()

In [ ]:
monthly_aggregation.drop(columns=["OFFRE"], inplace=True)
monthly_aggregation.head()